main {
    padding-top: 80px;
}

.productDetalle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--colorGrisOscuro);
    padding: 20px;
}

.cardDetalle {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.cardDetalle img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
    background-color: white;
}

.productInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--colorBlanco);
}

.productName {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}

.description {
    font-size: 1.2rem;
    text-align: justify;
}

.compra {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btnAgregar {
    margin: 0;
}

.precio {
    font-size: 1.25rem;
    color: var(--colorVerde);
    margin: auto 0;
}

.estrellas {
    color: var(--colorVerde);
    font-size: 1.5rem;
}

/* Separadores */
hr {
    border: none;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--colorVerde), transparent);
    width: 100%;
}

.detalles {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    color: var(--colorBlanco);
}

.especificaciones, .comentarios {
    border: 1px solid var(--colorVerde);
    width: 45%;
    text-align: center  ;
    height: fit-content;
}

.especificaciones thead, .comentarios thead {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    background-color: var(--colorVerde);
    color: var(--colorNegro);
}

.especificaciones tr, .comentarios tr {
    border-bottom: 1px solid var(--colorVerde);
}

tbody {
    display: flex;
    flex-direction: column;
}
tbody tr {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.line {
    width: 100%;
    text-align: center;
}







