.btnAgregar {
    margin: 0 auto;
    margin-bottom: 0;
    border: 1px solid var(--colorVerde);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    background-image: linear-gradient(45deg, var(--colorVerde) 50%, var(--colorGrisOscuro) 50%);
    background-position: 100%;
    background-size: 400%;
    color: var(--colorVerde);
    font-weight: bold;
    transition: 
        background 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.btnAgregar:hover {
    background-position: 0;
    color: #000;
}
